/* animation */
@keyframes turn-on {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1.1) rotate(360deg);
    }
}
/* setting */
@font-face {
    font-family: "MonoplexKR-Italic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
/* reset */
html {
    box-sizing: border-box;
    font-family: "MonoplexKR-Italic";
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

h1,
p {
    margin: 0;
}

/* design */

/* layout */

/* app */
#app {
    width: 100vw;
    height: 100vh;
    perspective: 1600px;
    text-align: center;
}

.logo {
    padding: 4rem 0 0.5rem;
}

/* 음악 리스트 */
.list-music {
    position: fixed;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    /* margin: -200px 0 0 -170px; */
    transform: translate(-50%, -50%) rotateY(100deg);
    transform-style: preserve-3d;
    transition: 0.3s;
}

/* 음악 아이템 */
.list-music li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.list-music .tit-music {
    font-size: 0.9rem;
    word-break: break-all;
}

.list-music .txt-album {
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    word-break: break-all;

    color: rgb(163, 163, 163);
}

.list-music li img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.3s;
}

.active {
    transform: scale(1.1);
    animation: turn-on 10s infinite linear;
}

.list-music li:nth-child(1) {
    transform: rotateY(0) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-music li:nth-child(2) {
    transform: rotateY(calc(360deg / 7)) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-music li:nth-child(3) {
    transform: rotateY(calc(360deg / 7 * 2)) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-music li:nth-child(4) {
    transform: rotateY(calc(360deg / 7 * 3)) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-music li:nth-child(5) {
    transform: rotateY(calc(360deg / 7 * 4)) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-music li:nth-child(6) {
    transform: rotateY(calc(360deg / 7 * 5)) translateZ(calc(340px * 7 / 3.14 / 2));
}

.list-music li:nth-child(7) {
    transform: rotateY(calc(360deg / 7 * 6)) translateZ(calc(340px * 7 / 3.14 / 2));
}

/* media query */
